<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Error, accusantium, ducimus ipsam harum deleniti, 
               saepe porro distinctio ipsum eaque architecto sunt 
               dolor fuga quibusdam minima reiciendis sed commodi velit odit!</p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto2">
            <img class="img-fluid imgProyecto" src="a" alt="imagenDeEjemplo">
        </div>
    </div>
</div>>
