<div class ="container row">
    <h2>Hard Skills</h2>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
      [percent]="85"
      [radius]="90"
      [space]="-10"
      [unitsFontWeight]="'600'"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#a050e2'"
      [outerStrokeGradientStopColor]="'#fd86e7'"
      [innerStrokeColor]="'#e7e8ea'"
      [innerStrokeWidth]="10"
      [title]="'Holi'"
      [titleFontSize]="'35'"
      [titleFontWeight]="'500'"
      [animateTitle]="false"
      [animationDuration]="600"
      [showUnits]="false"
      [showBackground]="false"
      [clockwise]="true"
      [startFromZero]="false"
    ></circle-progress>
    <!--Revisar círculo "arreglar"-->
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'35'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <h2>Soft Skills</h2>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
  <div class="grafico col-sm-6 col-md-4 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [space]="-10"
    [unitsFontWeight]="'600'"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#a050e2'"
    [outerStrokeGradientStopColor]="'#fd86e7'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'Holi'"
    [titleFontSize]="'30'"
    [titleFontWeight]="'500'"
    [animateTitle]="false"
    [animationDuration]="600"
    [showUnits]="false"
    [showBackground]="false"
    [clockwise]="true"
    [startFromZero]="false"
  ></circle-progress>
  </div>
</div>