<div class="container-fluid row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/Natalia Maza.jpeg"
        alt="Foto Portfolio Natalia Maza" width="200px" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">Maza Sasiuk, Natalia Florencia</p>
        <p>Full stack trainee</p>
    
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Acerca de mí</h2>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorem nobis nostrum hic suscipit unde repellat iste cum sit, 
            illo officia saepe esse veniam nesciunt perferendis, 
            harum molestias dolore, porro error?
        </span>
    </div>
</div>