<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Likedin.png" alt="linkedin"></a>
            <a href=""><img src="../../../assets/Github.png" alt="github"></a>
            <a href=""><img src="../../../assets/Twitter.png" alt="twitter"></a>
            <a href=""><img src="../../../assets/Facebook.png" alt="facebook"></a>
            <a href=""><img src="../../../assets/Instagram.png" alt="instagram"></a>
        </div>
        <div  class="boton">
            <button type="button" class="btn btn-light"><strong>INGRESO</strong></button>
        </div>
    </div>
</div>