<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li class="row">
              <img src="../../../assets/Logo Mora.jpg" alt="logo mora">
              <div class="col-10">
                <h3>Trabajo 1 - (years)</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Commodi, velit nesciunt quos voluptas, repellat soluta id, 
                similique magnam corrupti eum praesentium quae? 
                Ducimus, pariatur itaque voluptas veritatis odit eveniet vel.
              </p>
              </div>
            </li>
            <li class="row">
                <img src="" alt="logo">
                <div class="col-10">
                  <h3>Trabajo 2 - (years)</h3>
                  <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Commodi, velit nesciunt quos voluptas, repellat soluta id, 
                  similique magnam corrupti eum praesentium quae? 
                  Ducimus, pariatur itaque voluptas veritatis odit eveniet vel.
                </p>
                </div>
              </li>
        </ul>
    </div>
</div>
